.logo-image {
    max-height: 80px;
}

.main-label {
    font-size: large;
    font-weight: bold;
}
.drug-name {
    font-weight: bold;
}

.procedure-button {
    width:200px;
    margin-top: 5px;
}

.back-button {
    cursor: pointer;
}