.logo-image {
    height: 40px;
}

.main-label {
    font-size: large;
    font-weight: bold;
}
.drug-name {
    font-weight: bold;
}

.procedure-button {
    margin-top: 5px;
}

.back-button {
    cursor: pointer;
}