.logo-image {
    height: 40px;
}

.main-label {
    font-size: large;
    font-weight: bold;
}
.drug-name {
    font-weight: bold;
}

.procedure-button {
    margin-top: 5px;
}

.back-button {
    cursor: pointer;
}

.drug-value {
    color: #d85e72;
    font-weight: bold;
}

.info-button {
    color: blue;
}

.add-drug-button {
    color: green
}

.drug-button {
    font-size: 30px;
}

#stopwatch {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color: #f43d3d;
    font-weight: bold;
}